snippet cite "A citation"
(<cite>[${1:name}][${2:link}]</cite>)
endsnippet

snippet citep "A citation with page #"
<cite>([${1:name}][${2:link}] p. ${3:page})</cite>
endsnippet

snippet det "details"
<details>
	<summary>${1:summary}</summary>

${VISUAL:Details}

</details>
endsnippet
